# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs/Editor
.idea/
.vscode/

# Python:
**/__pycache__
.venv

# My directory:
EarthImager/
ERI/test*
ERI/*/data/
ERI/*/models
ERI/*/reports
