# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs/Editor
.idea/
.vscode/

# Python:
**/__pycache__

# My directory:
EarthImager/
ERI/test*
ERI/template_python/config/Para.pkl
ERI/template_python/config/model.py
ERI/template_python/data/
ERI/template_python/models/
ERI/template_python/reports/
SimPEG/